$main_regular: #323264;
$main_alt: #46466E;
$grey_bg: #F5F5FA;
$grey_bg_dark: rgba(245, 245, 250, 0.2);
$grey_bg_alt: #EDEDF7;
$grey_text: #B3B3BA;
$white_text: #ffffff;
$grey_separator: #e6e6f0;
$grey_shadow: #CACADB; 
$grey_shadow_2: #E7E7F2;
$active_regular: #24a4ff;
$active_hover: #0085FF;
$active_active: #006CCF;
$active_regular_opaque: rgba(36, 163, 255, 0.2);
$active_regular_opaque_2: rgba(36, 164, 255, 0.6);
$active_regular_shadow: rgba(36, 163, 255, 0.5);
$active_accent: #F0145A;
$gradient_red_text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$white_text_opaque: rgba(255, 255, 255, 0.8);
$white_text_opaque_2: rgba(255, 255, 255, 0.5);
$img-background: #9f9fb5;
$header_lang_hover_dark: rgba(255, 255, 255, 0.2);
$gradient_main: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$white_border: rgba(255, 255, 255, 0.2);
$hillel_bg: #1C4280;
$wannabiz_bg: #143646;
$tapgerine_bg: #F48B30;
$dlook_bg: #9E4DC3;
$orangear_bg: #FD9339;
$adtelligent_bg: #E2E2E4;
$clicky_bg:#C71C36;
$invalid_red:#FF0000;
$eco-leasing_bg:#DCF3F9;
$infratek_bg:#EAEAEA;
$city-park_bg:#282240;
$artprint_bg:#1D4568;
$ultimatecard_bg:#000000;
$modal_dark_screen: rgba(50, 50, 100, 0.7);
$modal_shadow: rgba(40, 40, 86, 0.5);
$close_btn: #EC6F5D;